* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

body {
  background-color: #f9debb;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.sildeShow {
  width: 500px;
  height: 300px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px;
  transition: left 0.5s ease-out;
}
.slides li:first-child {
  margin-left: 100px;
}

.slides li:not(:last-child) {
  float: left;
  margin-left: 100px;
}

.slides li {
  float: left;
}

.controller span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3rem;
  cursor: pointer;
}

.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

.prev {
  left: 10px;
}

.prev:hover {
  transform: translate(-10px);
}

.next {
  right: 10px;
}

.next:hover {
  transform: translateX(10px);
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 480px;
  margin: 0px auto;
}

.btn {
  position: relative;
  background-color: #ffca0b;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: grey 2px 2px 4px;
}

.btn-style {
  display: inline-block;
  padding: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #fff;
  height: 30px;
  border-radius: 12px;
}

.percent {
  background-color: #ff7f34;
  height: 30px;
  border-radius: 12px;
  width: 50px;
}

.result-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result-img {
  width: 100vh;
  height: 100vh;
  padding: 50px 50px;
}
